:root {
    --blue: #1e90ff;
    --pink: #f9b2ff;
    --green: #8776ff;
    --white: #ffffff;
    --postWidth: 30vw;
    --postHeight: 50vh;
}

.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}