.comment-info {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 1vmin;
}

.comment-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    border: 1px solid black;
    border-radius: 20px;
    padding: 1vmin;
}

.comment-publish-info {
    font-size: calc(var(--fontSize) / 4);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.comment-content {
    font-size: calc(var(--fontSize) / 2.5);
}

.comment-publish-date {
    float: right;
}